<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner</title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/MealPlanner.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/scripts/MealPlanner.js" defer></script>
</head>
<body>
    <div class = "MealPlanerContainer">
        <%- include('partials/navbar.ejs') %>

        <main class="page-content">
            <h1>Meal Planner</h1>
            <p>Plan your meals for the week based on your dietary preferences and allergies.</p>
            <% if (typeof flashError !== 'undefined' && flashError) { %>
                <div id="flash-error-message" style="background-color: #ffe6e6; color: #c62828; padding: 12px; border-radius: 6px; margin-bottom: 15px; border: 1px solid #c62828; font-weight: bold;">
                    <%= flashError %>
                </div>
            <% } %>
            <% if (typeof flashMessage !== 'undefined' && flashMessage) { %>
                <div id="flash-success-message" style="background-color: #e6ffe6; color: #2d6a2d; padding: 12px; border-radius: 6px; margin-bottom: 15px; border: 1px solid #2d6a2d; font-weight: bold;">
                    <%= flashMessage %>
                </div>
            <% } %>
            <div class="addMealPlanOverlay" id="AddMealPlanOverlay">
             
              
              <div class="addMealPlanContent"> 
               <h2 class="AddMealPlanTitle">Add Recipes to schedule</h2>
              <span class="closeAddMealPlanOverlay" onclick="toggleAddMealPlanOverlay('close')">&times;</span>
               
                 <form class="addMealPlanForm" action ="/meal-planner" method="post">
                  <label for="Recipe"> Recipe: </label>
                  <select class="FilterSelect" id="Recipe" name="recipeID" required>

                   <% if (recipes && recipes.length > 0) { %>
                     <% recipes.forEach(recipe => { %>
                      console.log(recipe);
                      <option value="<%= recipe.name %>"><%= recipe.name %></option>
                     <% }) %>
                   <% } else { %>
                    <option value="none">No recipes available</option>
                  <% } %>
                  </select>
                
                 <label for="Date">Date:</label> 
                 <input class="FilterSelect"  type="date" id="Date" name="date" required>

                 <label for="day">Day:</label>
                 <select class="FilterSelect" id="day" name="day" required>
                  <option value="none">Change to closest day</option>
                  <option value="Monday">Monday</option>
                  <option value="Tuesday">Tuesday</option>
                  <option value="Wednesday">Wednesday</option>
                  <option value="Thursday">Thursday</option>
                  <option value="Friday">Friday</option>
                  <option value="Saturday">Saturday</option> 
                  <option value="Sunday">Sunday</option>
                 </select>
                 
                 <label for="startTime">STime:</label>
                 <input class="FilterSelect" type="time" id="startTime" name="startTime" required>
                 <label for="endTime">ETime:</label>
                 <input class="FilterSelect" type="time" id="endTime" name="endTime" required>
                
                
                 <button type="submit" class="addMealPlanSubmitBtn">Add to Schedule</button>
               </form>
              </div>  
            </div>
            <div id="add-meal-plan-container">
                <button id="add-meal-plan-btn" class="addMealPlanBtn" onclick="toggleAddMealPlanOverlay('open')">Add Meal Plan</button>
            </div>
           
            <div id="meal-plan-container" class="MealPlanContainer">
                <div class="CardContainer">
                    <div class="Card">
                        <h2 class="CardTitle">Monday</h2>
                        <div id="MondayRecipes">
                            <% if (plan) { %>
                              <% plan.forEach(meal => { %>
                                <% if(meal.Monday) { %>
                                  <% meal.Monday.forEach((recipe, index) => { %>
                                    <div class="RecipeCard">
                                      <div class="MealActions">
                                        <button
                                          type="button" class="icon-btn edit-icon meal-edit-btn">
                                          <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <form action="/meal-planner?_method=DELETE" method="POST" style="display: inline;">
                                          <input type="hidden" name="day" value="Monday" />
                                          <input type="hidden" name="mealIndex" value="<%= index %>" />
                                          <button type="submit" class="icon-btn delete-icon deleteBtn">
                                            <i class="fa-solid fa-trash"></i>
                                          </button>
                                        </form>
                                      </div>
                                      <h3 class="RecipeName"><%= recipe.name %></h3>
                                      <div class="CardRecipesItem">
                                        <span class="TypeMeal"><%= recipe.date %></span>
                                        <span class="MealTime"><%= recipe.startTime %></span>
                                      </div>
                                    </div>
                                  <% }) %>
                                <% } %>
                              <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="Card">
                        <h2 class="CardTitle">Tuesday</h2>
                        <div id="TuesdayRecipes">
                            <% if (plan) { %>
                              <% plan.forEach(meal => { %>
                                <% if(meal.Tuesday) { %>
                                  <% meal.Tuesday.forEach((recipe, index) => { %>
                                    <div class="RecipeCard">
                                      <div class="MealActions">
                                        <button
                                          type="button" class="icon-btn edit-icon meal-edit-btn">
                                          <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <form action="/meal-planner?_method=DELETE" method="POST" style="display: inline;">
                                          <input type="hidden" name="day" value="Tuesday" />
                                          <input type="hidden" name="mealIndex" value="<%= index %>" />
                                          <button type="submit" class="icon-btn delete-icon deleteBtn">
                                            <i class="fa-solid fa-trash"></i>
                                          </button>
                                        </form>
                                      </div>
                                      <h3 class="RecipeName"><%= recipe.name %></h3>
                                      <div class="CardRecipesItem">
                                        <span class="TypeMeal"><%= recipe.date %></span>
                                        <span class="MealTime"><%= recipe.startTime %></span>
                                      </div>
                                    </div>
                                  <% }) %>
                                <% } %>
                              <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="Card">
                        <h2 class="CardTitle">Wednesday</h2>
                        <div id="WednesdayRecipes">
                            <% if (plan) { %>
                              <% plan.forEach(meal => { %>
                                <% if(meal.Wednesday) { %>
                                  <% meal.Wednesday.forEach((recipe, index) => { %>
                                    <div class="RecipeCard">
                                      <div class="MealActions">
                                        <button
                                          type="button" class="icon-btn edit-icon meal-edit-btn">
                                          <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <form action="/meal-planner?_method=DELETE" method="POST" style="display: inline;">
                                          <input type="hidden" name="day" value="Wednesday" />
                                          <input type="hidden" name="mealIndex" value="<%= index %>" />
                                          <button type="submit" class="icon-btn delete-icon deleteBtn">
                                            <i class="fa-solid fa-trash"></i>
                                          </button>
                                        </form>
                                      </div>
                                      <h3 class="RecipeName"><%= recipe.name %></h3>
                                      <div class="CardRecipesItem">
                                        <span class="TypeMeal"><%= recipe.date %></span>
                                        <span class="MealTime"><%= recipe.startTime %></span>
                                      </div>
                                    </div>
                                  <% }) %>
                                <% } %>
                              <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="Card">
                        <h2 class="CardTitle">Thursday</h2>
                        <div id="ThursdayRecipes">
                            <% if (plan) { %>
                              <% plan.forEach(meal => { %>
                                <% if(meal.Thursday) { %>
                                  <% meal.Thursday.forEach((recipe, index) => { %>
                                    <div class="RecipeCard">
                                      <div class="MealActions">
                                        <button
                                          type="button" class="icon-btn edit-icon meal-edit-btn">
                                          <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <form action="/meal-planner?_method=DELETE" method="POST" style="display: inline;">
                                          <input type="hidden" name="day" value="Thursday" />
                                          <input type="hidden" name="mealIndex" value="<%= index %>" />
                                          <button type="submit" class="icon-btn delete-icon deleteBtn">
                                            <i class="fa-solid fa-trash"></i>
                                          </button>
                                        </form>
                                      </div>
                                      <h3 class="RecipeName"><%= recipe.name %></h3>
                                      <div class="CardRecipesItem">
                                        <span class="TypeMeal"><%= recipe.date %></span>
                                        <span class="MealTime"><%= recipe.startTime %></span>
                                      </div>
                                    </div>
                                  <% }) %>
                                <% } %>
                              <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="Card">
                        <h2 class="CardTitle">Friday</h2> 
                        <div id="FridayRecipes">
                            <% if (plan) { %>
                              <% plan.forEach(meal => { %>
                                <% if(meal.Friday) { %>
                                  <% meal.Friday.forEach((recipe, index) => { %>
                                    <div class="RecipeCard">
                                      <div class="MealActions">
                                        <button
                                          type="button"
                                          class="icon-btn edit-icon meal-edit-btn">
                                          <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <form action="/meal-planner?_method=DELETE" method="POST" style="display: inline;">
                                          <input type="hidden" name="day" value="Friday" />
                                          <input type="hidden" name="mealIndex" value="<%= index %>" />
                                          <button type="submit" class="icon-btn delete-icon deleteBtn">
                                            <i class="fa-solid fa-trash"></i>
                                          </button>
                                        </form>
                                      </div>
                                      <h3 class="RecipeName"><%= recipe.name %></h3>
                                      <div class="CardRecipesItem">
                                        <span class="TypeMeal"><%= recipe.date %></span>
                                        <span class="MealTime"><%= recipe.startTime %></span>
                                      </div>
                                    </div>
                                  <% }) %>
                                <% } %>
                              <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="Card">
                        <h2 class="CardTitle">Saturday</h2>
                        <div id="SaturdayRecipes">
                            <% if (plan) { %>
                              <% plan.forEach(meal => { %>
                                <% if(meal.Saturday) { %>
                                  <% meal.Saturday.forEach((recipe, index) => { %>
                                    <div class="RecipeCard">
                                      <div class="MealActions">
                                        <button
                                          type="button" class="icon-btn edit-icon meal-edit-btn">
                                          <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <form action="/meal-planner?_method=DELETE" method="POST" style="display: inline;">
                                          <input type="hidden" name="day" value="Saturday" />
                                          <input type="hidden" name="mealIndex" value="<%= index %>" />
                                          <button type="submit" class="icon-btn delete-icon deleteBtn">
                                            <i class="fa-solid fa-trash"></i>
                                          </button>
                                        </form>
                                      </div>
                                      <h3 class="RecipeName"><%= recipe.name %></h3>
                                      <div class="CardRecipesItem">
                                        <span class="TypeMeal"><%= recipe.date %></span>
                                        <span class="MealTime"><%= recipe.startTime %></span>
                                      </div>
                                    </div>
                                  <% }) %>
                                <% } %>
                              <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div class="Card">
                        <h2 class="CardTitle">Sunday</h2>
                        <div id="SundayRecipes">
                            <% if (plan) { %>
                              <% plan.forEach(meal => { %>
                                <% if(meal.Sunday) { %>
                                  <% meal.Sunday.forEach((recipe, index) => { %>
                                    <div class="RecipeCard">
                                      <div class="MealActions">
                                        <button
                                          type="button"
                                          class="icon-btn edit-icon meal-edit-btn">
                                          <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <form action="/meal-planner?_method=DELETE" method="POST" style="display: inline;">
                                          <input type="hidden" name="day" value="Sunday" />
                                          <input type="hidden" name="mealIndex" value="<%= index %>" />
                                          <button type="submit" class="icon-btn delete-icon deleteBtn">
                                            <i class="fa-solid fa-trash"></i>
                                          </button>
                                        </form>
                                      </div>
                                      <h3 class="RecipeName"><%= recipe.name %></h3>
                                      <div class="CardRecipesItem">
                                        <span class="TypeMeal"><%= recipe.date %></span>
                                        <span class="MealTime"><%= recipe.startTime %></span>
                                      </div>
                                    </div>
                                  <% }) %>
                                <% } %>
                              <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
